* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

header {
    width: 100%;
    background-color: #111111;
    margin: auto;
    position: fixed;
    z-index: 3;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

header ul li a {
    text-decoration: none;
    color: white;
}

.jumbo {
    background-image: url(img/Subtraction\ 3.png);
    height: 900px;
    background-size: cover;
}

.jumbo h1 {
    transform: translateY(250px);
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 60px;
}

.jumbo h3 {
    transform: translateY(250px);
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.jumbo input {
    transform: translateY(250px);
    width: 450px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 0 10px 0 29px;
    color: #B2B2B2;
}

.jumbo button {
    transform: translateY(250px);
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: #FF6C0A;
    color: white;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.jumbo button:hover {
    background-color: #f87721;
}

.content {
    margin-top: 100px;
}

.food {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.food article {
    width: 300px;
    margin-top: 50px;
}

.food article img {
    width: 300px;
}

.buy {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buyNow a {
    padding: 4px 4px;
    text-decoration: none;
    background-color: #FF6C0A;
    color: white;
}

.buy .harga,
.buy .buyNow {
    color: #272727;
}

.background {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-image: url(img/3007281.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.artikel article {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.artikel .penjelasan {
    width: 50%;
    font-weight: 400;
}

aside {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 60px;
    width: 100%;
    height: 500px;
    background-color: #FF6C0A;
}

aside img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid white;
}

aside h1 {
    color: white;
    font-weight: 400;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #111111;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    margin-top: 25px;
    font-size: 20px;
}

footer h2 {
    font-size: 15px;
}

.toogle {
    width: 30px;
    display: none;
    height: 30px;
}

.toogle span {
    width: 25px;
    height: 3px;
    background-color: white;
}

.galery h3 {
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.thumbnail {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.thumbnail img {
    width: 90%;
    cursor: pointer;
    transition: .4s;
}

.thumbnail img:hover {
    opacity: 0.8;
}